{% extends 'base.html.twig' %}

{% block body %}
    <div {{ vue_component('HomePage', {
        showreelThumbnailPath: asset('build/'~showreelThumbnailPath),
        motionGifs: motionGifsData,
        illustrationImgs: illustrationImgsData,
        avatarImg: avatarImg,
        interventions: interventions,
        experiences: experiences,
        skills: skills
    }) }}>
        {{ include('components/_spinner.html.twig') }}
    </div>
{% endblock %}