{% extends 'admin-base.html.twig' %}

{% block body %}
    <div {{ vue_component('admin/AdminInterventionPage', {
        CVItems: CVItems
    }) }}>
        {{ include('components/_spinner.html.twig') }}
    </div>

    {% for CVItemForm in CVItemForms %}
        {{ include('components/_modal-window.html.twig', {
            modalId: 'form-CVItem-' ~ CVItemForm.vars.value.id,
            title: "Modifier l'intervention",
            body: include('components/_CVItem-form.html.twig', {
                form: CVItemForm
            })
        }) }}
    {% endfor %}

{% endblock %}