{% extends 'admin-base.html.twig' %}

{% block body %}
    {{ include('components/_media-upload-form.html.twig', {form: motionForm}) }}

    <div {{ vue_component('admin/AdminMotionPage', {
        motionGifs: motionGifs
    }) }}></div>

{% endblock %}

