{% extends 'admin-base.html.twig' %}

{% block body %}
    <div class="my-2">
        {{ include('components/_media-upload-form.html.twig', {form: motionForm}) }}
    </div>
    <div {{ vue_component('admin/AdminMotionPage', {
        motionGifs: motionGifs
    }) }}></div>

{% endblock %}

