@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir_roman_12.otf');
}

@font-face {
    font-family: 'AvantGarde';
    src: url('../fonts/ITC Avant Garde Gothic LT Bold.otf') ;
}

$font-family-base: 'Avenir';

$primary: #6405F4;
$secondary: #5A5A5A;
$info: #DD1486;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
    background-color: $light;
}

.fs-title {
    font-family: AvantGarde, sans-serif;
}
