@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir_roman_12.otf');
}

@font-face {
  font-family: 'AvantGarde';
  src: url('../fonts/ITC Avant Garde Gothic LT Bold.otf') ;
}

@import "var-override";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
  background-color: $light;
}

.fs-title {
  font-family: AvantGarde, sans-serif;
}

.cursor-pointer {
  cursor: url("../../public/build/media/cursor/pointer.webp"), pointer;
}

.eye-cursor {
  cursor: url("../../public/build/media/cursor/eye-cursor.webp"), wait !important;
}

.next-cursor {
  cursor: url("../../public/build/media/cursor/arrow-right-cursor.webp"), w-resize !important;
}

.previous-cursor {
  cursor: url("../../public/build/media/cursor/arrow-left-cursor.webp"), e-resize !important;
}
