@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir_roman_12.otf');
}

@font-face {
  font-family: 'AvantGarde';
  src: url('../fonts/ITC Avant Garde Gothic LT Bold.otf') ;
}

@import "var-override";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
  background-color: $light;
}

.fs-title {
  font-family: AvantGarde, sans-serif;
}
