$primary: #6405F4;
$secondary: #001442;
$info: #DD1486;
$light: #f8f9fa;
$dark: #212529;

$font-family-base: 'Avenir';
$toast-max-width: 350px;

$container-max-widths: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px
);

